.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    border-radius: 30px;
    padding: 30px;
    background-color: #bbc9d2;
}

button:hover{
    background-color: #a9b6c2;
    color: white;
    cursor: pointer;
}