body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

img {
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.5s;
    margin-bottom: 12px;
}

h1 {
    margin: 0;
    background: rgb(184, 177, 177);
    padding: 8px;
}

img:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

button {
    background: rgb(63, 102, 63);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    color: white;
    transition: background-color 0.5s;
}

button:hover {
    background: blue;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.imageContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 360px) {
    img {
        width: 100%;
    }
}

.authorContainer {
    padding: 8px;
    background: black;
    color: white
}