body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 10px;
    width: 28%;
    box-shadow: 0px 8px 8px rgba(50, 73, 203, 0.25);
    transition: box-shadow 1s;
    margin-bottom: 12px;
}


img:hover {
    box-shadow: 0px 16px 20px rgba(12, 11, 11, 0.25);
}

button {    
    padding: 8px 16px;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.imageContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
