{% extends "layout.html" %}
{% block body %}
  <h2>Из недавно выданных</h2>
    {%- for book in books %}
      <ul>        
        <li> Артикул: 0000{{ book.id }} </li>
        <li> Название: {{ book.name }} </li>
        <li> Автор: {{ book.author }} </li>        
        <li>
          <a href="{{ url_for('books_by_genre', genre_id=book.genre.id) }}"> {{ book.genre.name }}</a>
        </li>
        <li> Добавлен: {{ book.publication_date }} </li>
      </ul>
      <form action="{{ url_for('update_book', book_id=book.id) }}" method="post">
        Прочтена: <input type="checkbox" name = "is_read" {% if book.is_read %} checked {% endif %}/> 
        <input type="submit" value="Сохранить" />
    </form>      
      <hr>
    {%- endfor %}
{% endblock %}
