{% extends "layout.html" %}
{% block body %}
  <h2>Книги и категории {{ genre_name }}</h2>
  {%- for book in books %}
    <ul>
      <li> Артикул: 0000{{ book.id }} </li>
      <li> Название: {{ book.title }} </li>
    </ul>
    <hr>
  {%- endfor %}
{% endblock %}
