<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="styles.css" />
<script src="./index.js"></script>
</head>

<body>
  <h1 style="text-align: center;">Random Image Gallery</h1>
<div class="progress"></div>
  <div class="container">
    <div class="buttonContainer">
      <button class="NextButton">Next</button>
    </div>

    <div class="imageContainer">
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>            
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>
      <div class="imageWrapper">
        <img />
        <div class="author"></div>
      </div>         
    </div>
  </div>
</body>

</html>