body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    background: rgb(184, 177, 177);
    padding: 8px;
}

img {
    box-shadow: 0px 8px 8px rgba(50, 73, 203, 0.25);
    border-radius: 10px;
    transition: box-shadow 1s, opacity 0.5s;
    width: 100%;
}

img:hover {
    box-shadow: 0px 16px 20px rgba(12, 11, 11, 0.25);
}

.container {
    padding: 8px;
}

.imageContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imageWrapper {
    padding: 8px;
    width: 25%;
    box-sizing: border-box;
}

@media(max-width: 800px) {
    img {
        width: 100%;
    }
}

button {
    background: rgb(215, 212, 212);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color 0.5s;
}

button:hover {
    background: rgb(108, 182, 158);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fullScreen img {
    border-radius: 10px;
    width: auto;
}

.loading{
    opacity: 0.5;
}

.author{
    text-align: center;
    padding: 8px;
}

.progress{
   height: 2px; 
   background: blue;
   width: 100%;
}